/* NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-dark);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo a {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.logo span {
  color: var(--secondary-red);
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: var(--text-light);
  transition: color 0.3s ease;
}

/* Hover color */
.nav-links a:hover {
  color: var(--white);
}

/* Underline red*/
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-red);
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

/*FOOTER*/

.footer {
  background-color: #0f172a;
  color: #e2e8f0;
  padding-top: 60px;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}

.footer h3,
.footer h4 {
  margin-bottom: 16px;
  font-weight: 600;
}

.footer p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #94a3b8;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
}

.footer a {
  text-decoration: none;
  color: #94a3b8;
  font-size: 14px;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #ffffff;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #64748b;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}