/* 
   NAVBAR */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--primary-dark);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo a {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.logo span {
  color: var(--secondary-red);
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: var(--text-light);
  transition: color 0.3s ease;
}

/* Hover color */
.nav-links a:hover {
  color: var(--white);
}

/* Underline animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-red);
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}
