/* HERO SECTION STYLES */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  padding: 0 8%;
  position: relative;
  overflow: hidden;
}

/*LEFT HERO CONTENT */

.hero-content {
  max-width: 540px;
  animation: fadeUp 1s ease forwards;
}

.hero-role {
  color: var(--secondary-red);
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-family: 'poppins' sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.hero-content h1 {
  font-size: 52px;
  color: var(--white);
  line-height: 1.25;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: var(--secondary-red);
}

.hero-description {
  margin-top: 10px;
  color: var(--text-light);
  font-size: 16px;
  line-height: 1.7;
  max-width: 500px;
}

/* RIGHT HERO IMAGE */

.hero-image {
  flex-shrink: 0;
}

.hero-image img {
  width: 420px;
  max-width: 100%;
  border-radius: 16px;
  object-fit: cover;

  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.35);
}

/* ANIMATIONS */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE STYLES */

@media (max-width: 1024px) {
  .hero {
    gap: 40px;
  }

  .hero-content h1 {
    font-size: 44px;
  }

  .hero-image img {
    width: 360px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
  }

  .hero-description {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-image img {
    width: 300px;
  }
}
